@import '@fontsource-variable/noto-sans-jp/wght.css';

@font-face {
	font-family: Satoshi;
	src: url('/fonts/fontshare/Satoshi-Variable.woff2') format('woff2');
	font-style: normal;
	font-weight: 300 900;
	font-display: swap;
}
