@import "@fontsource-variable/noto-sans-jp";

@font-face {
  font-family: "Switzer";
  src: url("/fonts/fontshare/Switzer-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/fontshare/Switzer-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/fontshare/Switzer-Semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Zodiak";
  src: url("/fonts/fontshare/Zodiak-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
