:root {
	--nap-layout-min-width: 320px;

	--nap-layout-reference-width: 1360px;
	--nap-layout-column-gap: 24px;
	--nap-layout-inline: clamp(24px, 3vw, 40px);

	--nap-layout-sidebar-width: 224px;
	--nap-layout-context-pane-width: 320px;

	--nap-layout-playback: 88px;
	--nap-layout-status: 24px;
}
